@charset "UTF-8";

body{font-family: 'Noto Sans', sans-serif;
margin: 0;
    padding: 0;
   background-image: radial-gradient( circle farthest-corner at 0.5% 97.2%,  rgba(62,134,211,1) 0%, rgba(147,196,255,1) 100.2% );
    
} 



	/*Navigation*/
nav ul{font-family: 'Sen', sans-serif;
     position: fixed;
    z-index: 1;
    list-style: none;
    font-size: 22px;
    padding:10px;
    margin:0px;
width: 100%;
    text-align: center;
    background:rgba(0, 0, 2, 0.70);}

nav li{display:inline-block;
    padding:5px 30px 5px ;}
nav a { text-decoration: none;
    color:#ffffff;}

#banner{ background-image:url(images/forbanner.jpg);
    padding:200px;
    margin: auto;
    background-attachment: fixed;
    background-size: cover;
}



#banner h1{font-family: 'Bree Serif', serif;

font-size: 80px;
    text-shadow : 4px 5px grey;
    text-decoration: none;
    color:#ffffff;
    text-align: center;}

h1{font-size: 50px;
    text-align: center;
    
}

h2{text-align: center;
    font-family: 'Asap', sans-serif;
    font-size: 38px;
}
h3{text-align: center;
    font-size:26px;
    font-family: 'Noto Sans', sans-serif;
}

h4{text-align: center;
    font-size:22px;}






    /*menu*/ 
#about{ padding: 150px;
    background-color:#ebf6ff;
    font-size: 18px;
    
  }

about.img{
margin:20px 20px ; 
    display: block;
    padding: 20px;}

#schedule{text-align:center;
    padding: 100px;
    background-color:#b0cbf7;
}

table {align-content: center;
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #b0cbf7;
  text-align: left;
  padding: 8px;
    
}

tr:nth-child(even) {
  background-color: #fff;
}

#contact{margin: 0px;
    padding: 200px;
    font-size: 16px;
    color: cornsilk;
}


#map{margin: 5px;
padding: 0px;}

footer{text-align: center;
    font-size:12px;
    border: 230px;
padding: 30px;
background-color: #0c2860;
    margin: auto;
clear:both;}